strong {
    color: #2493df;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    letter-spacing: 2px;
}

body {
    background-color: #e0e0e0;
}

li {
    list-style-type: square;
    list-style-position: inside;
    padding-left: 30px;
}

label {
    font-size: 16px;
    font-weight: bold;
}

section {
    background-color: white;
    padding: 10px;
}

img {
    float: left;
    margin-right: 10px;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 10px;
}

th {
    background-color: #2493df;
    color: white;
}

input[type="number"] {
    padding: 2px;
    text-align: center;
    width: 50px;
}

input[type="button"] {
    background-color: #2493df;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    height: 40px;
    width: 100px;
}

footer {
    margin-top: 10px;
    font-size: 14px;
    color: #595959;
    text-align: center;
}

form {
    display: flex;
}

.form-section {
    flex: 1;
}

#buy {
    position: fixed;
    background-color: #687373;
    color: #fcfcfc;
    margin-top: 10px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    box-sizing: border-box;
}